.pieChartDiv {
  /* border: 1px solid #d9dadb; */
  float: left;
  width: 33%;
}
.pieChart {
  margin: 20px;
  text-align: center;
}

.BarChartDiv {
  /* width: 50%; */
  margin: 20px;
}

.DynamicChart {
  margin: 20px;
}
